body {
	background-color: #222425;
	color: #a9a4a8;
	font-family: "Verdana";
	padding: 0;
	margin: 0;
}
/*PHONE SCREENS*/
@media only screen and (max-width: 700px){
	div.mainTextBlock {
		margin-left: 25px;
		margin-right: 25px;
		margin-top: 85px;
		font-size: 18px;
		max-width: 95%;
		text-align: left;
	}
	div.segmentBlock {
		margin-left: 25px;
		margin-top: 15px;
		font-size: 16px;
		letter-spacing: 0px;
		line-height: 1.6;
		max-width: 95%;
		/*text-align: justify;*/
		text-align: left;
	}
	div.listBlock {
		margin-left: 10px;
		margin-top: 10px;
		margin-bottom: 15px;
		font-size: 16px;
		letter-spacing: 0px;
		line-height: 1.6;
		max-width: 95%;
		/*text-align: justify;*/
		text-align: left;
		background-color: #252222;
	}
	a.anchor {
		display: block;
		position: relative;
		top: -85px;
		visibility: hidden;
	}
	li a {
		font-size:15px;
	}
	li homelink {
		font-size:15px;
	}
}
/*COMPUTER SCREENS*/
@media only screen and (min-width: 700px){
	div.mainTextBlock {
		margin-left: 28px;
		margin-top: 65px;
		font-size: 24px;
		letter-spacing: 0px;
		max-width: 80%;
		/*text-align: justify;*/
		text-align: left;
	}
	div.segmentBlock {
		margin-left: 28px;
		margin-top: 15px;
		font-size: 22px;
		letter-spacing: 0px;
		line-height: 1.6;
		max-width: 75%;
		/*text-align: justify;*/
		text-align: left;
	}
	div.listBlock {
		margin-left: 65px;
		margin-top: 15px;
		margin-bottom: 25px;
		font-size: 22px;
		letter-spacing: 0px;
		line-height: 1.6;
		max-width: 75%;
		/*text-align: justify;*/
		text-align: left;
		background-color: #252222;
	}
	a.anchor {
		display: block;
		position: relative;
		top: -120px;
		visibility: hidden;
	}
	li a {
		font-size:24px;
	}
	li.homelink {
		font-size:24px;
	}
}

h3 {
	color: #f98585;
	font-size: 25px;
	letter-spacing: 1.0;
	font-weight: bold;
	font-family: "Courier";
}

h4 {
	color: #d98585;
	margin-left: 10px;
	font-size: 23px;
	font-weight: normal;
	font-family: "Courier";
}

h5 {
	color: #f93585;
	font-size: 24px;
	font-weight: normal;
	font-family: "Courier";
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;

}

a {
	color: #f4cbcb;
}

ul.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	top: 0;
	width: 100%;
	position: fixed;
	background-color: #885757;
}

li a {
	display: block; 
	text-align: center;
	padding: 10px 15px;
	text-decoration:none;
	color: #EFEFBF;
	font-family: "Courier";
}

li.navbarli {
	float: left;
	/*display: inline;*/
}

li.homelink {
	float: left;
	color: #CBBCB8;
	display: block; 
	text-align: center;
	padding: 10px 15px;
	text-decoration:none;
	font-family: "Courier";
	font-weight: bold;
}


